/dts-v1/;
/plugin/;

/ {
  compatible = "ti,beaglebone-black";

  /* identification */
  part-number = "BBB-StarBoard";
  version = "00A1";

  exclusive-use =
      "P8.11", "gpio1_13",
      "P8.12", "gpio1_12",
      "P8.13", "ehrpwm2b",
      "P8.14", "gpio0_26",
      "P8.15", "gpio1_15",
      "P8.16", "gpio1_14",
      "P8.17", "gpio0_27",
      "P8.18", "gpio2_1",
      "P8.19", "gpio0_22",
      "P8.26", "gpio1_29",
      "P8.41", "gpio2_10",
      "P8.42", "gpio2_11",
      "P8.43", "gpio2_8",
      "P8.44", "gpio2_9",
      "P8.45", "gpio2_6",
      "P8.46", "gpio2_7";

  /* sets pin mux */
  fragment@0 {
    target = <&am33xx_pinmux>;
    __overlay__ {
      lights_pwm: pinmux_lights_pwm_pins {
        pinctrl-single,pins = <
             0x024 0x4 /* P8.13 - house lights output pulldown */
        >;
      };
      mosfet_gpio: pinmux_mosfet_gpio_pins {
        pinctrl-single,pins = <
             0x034 0x07 /* P8.11 - right hopper GPIO output pulldown */
             0x030 0x07 /* P8.12 - left hopper GPIO output pulldown */
        >;
      };
      led_gpio: pinmux_led_gpio_pins {
        pinctrl-single,pins = <
             0x028 0x07 /* P8.14 - right blue */
             0x03c 0x07 /* P8.15 - right green */
             0x038 0x07 /* P8.16 - right red */
             0x02c 0x07 /* P8.17 - center blue */
             0x08c 0x07 /* P8.18 - center green */
             0x020 0x07 /* P8.19 - center red - consider pwm? */
             0x07c 0x07 /* P8.26 - left blue */
             0x0b0 0x07 /* P8.41 - left red */
             0x0b4 0x07 /* P8.42 - left green */
        >;
      };
      switch_gpio: pinmux_switch_gpio_pins {
        pinctrl-single,pins = <
             0x0a8 0x37 /* P8.43 - center peck GPIO input pullup */
             0x0ac 0x37 /* P8.44 - right peck */
             0x0a0 0x37 /* P8.45 - hopper detector */
             0x0a4 0x37 /* P8.46 - left peck */
        >;
      };
    };
  };

  /* enables pwm outputs - not sure what first device is but it's needed */
  fragment@1 {
    target = <&epwmss2>;
    __overlay__ {
      status = "okay";
    };
  };

  fragment@2 {
    target = <&ehrpwm2>;
    __overlay__ {
      pinctrl-names = "default";
      pinctrl-0 = <&lights_pwm>;
      status = "okay";
    };
  };

  /* creates user interface */
  fragment@3 {
       target = <&ocp>;
       __overlay__ {
         sbd-lights {
                 compatible = "pwm-leds";
                 status = "okay";
                 sbd-lights-pwm {
                         label = "starboard::lights";
                         /*channel, period (ns), polarity */
                         pwms = <&ehrpwm2 1 500000 0>;
                         /* pwm-names = "lights"; */
                         max-brightness = <255>;
                         default-state = "off";
                 };
         };
         sbd-hoppers {
                 compatible = "gpio-leds";
                 pinctrl-names = "default";
                 pinctrl-0 = <&mosfet_gpio>;
                 status = "okay";
                 sbd-hopper-left {
                         label = "starboard:hopper:left";
                         gpios = <&gpio2 12 0>;
                         default-state = "off";
                 };
                 sbd-hopper-right {
                         label = "starboard:hopper:right";
                         gpios = <&gpio2 13 0>;
                         default-state = "off";
                 };
         };
         sbd-cues {
                 compatible = "gpio-leds";
                 pinctrl-names = "default";
                 pinctrl-0 = <&led_gpio>;
                 status = "okay";
                 sbd-cue-rrd {
                         label = "starboard:right:red";
                         gpios = <&gpio2 14 0>;
                         default-state = "off";
                 };
                 sbd-cue-rgn {
                         label = "starboard:right:green";
                         gpios = <&gpio2 15 0>;
                         default-state = "off";
                 };
                 sbd-cue-rbl {
                         label = "starboard:right:blue";
                         gpios = <&gpio1 26 0>;
                         default-state = "off";
                 };
                 sbd-cue-crd {
                         label = "starboard:center:red";
                         gpios = <&gpio1 22 0>;
                         default-state = "off";
                 };
                 sbd-cue-cgn {
                         label = "starboard:center:green";
                         gpios = <&gpio3 1 0>;
                         default-state = "off";
                 };
                 sbd-cue-cbl {
                         label = "starboard:center:blue";
                         gpios = <&gpio1 27 0>;
                         default-state = "off";
                 };
                 sbd-cue-lrd {
                         label = "starboard:left:red";
                         gpios = <&gpio3 10 0>;
                         default-state = "off";
                 };
                 sbd-cue-lgn {
                         label = "starboard:left:green";
                         gpios = <&gpio3 11 0>;
                         default-state = "off";
                 };
                 sbd-cue-lbl {
                         label = "starboard:left:blue";
                         gpios = <&gpio2 29 0>;
                         default-state = "off";
                };
         };
         sbd-switches {
                 compatible = "gpio-keys";
                 pinctrl-names = "default";
                 pinctrl-0 = <&switch_gpio>;
                 status = "okay";
                 /* these need to be in gpio order for some reason */
                 hopper-up {
                   label = "starboard::hopper-up";
                   debounce_interval = <5>;
                   linux,code = <1>;
                   gpios = <&gpio3 6 0x5>;
                   gpio-key,wakeup;
                 };
                 peck-left {
                   label = "starboard::left-peck";
                   debounce_interval = <5>;
                   linux,code = <2>;
                   /* 0x5 should be input pullup */
                   gpios = <&gpio3 7 0x5>;
                   gpio-key,wakeup;
                 };
                 peck-center {
                   label = "starboard::center-peck";
                   debounce_interval = <5>;
                   linux,code = <3>;
                   gpios = <&gpio3 8 0x5>;
                   gpio-key,wakeup;
                 };
                 peck-right {
                   label = "starboard::right-peck";
                   debounce_interval = <5>;
                   linux,code = <4>;
                   gpios = <&gpio3 9 0x5>;
                   gpio-key,wakeup;
                 };
         };
       };
    };
};
